<!DOCTYPE html>
<html>
{% include 'head.html' %}
</head>
<body>
{% include 'nav.html' %}
<h1>Annonce</h1>

<div class="container">
    <a href="{% url 'ad-list' %}" class="table-link">
 <table class="table">
    <thead>

         <tr>
             <th scope="col">Véhicules</th>
             <th scope="col">Accessoires</th>
             <th scope="col">Description</th>
             <th scope="col">Prix</th>
         </tr>
    </thead>
    <tbody>
        {% for ad in ads %}
        <tr>
            <td class="px-4">{{ ad.name }}</td>
            <td class="px-4">{{ ad.title }}</td>
            <td class="px-4">{{ ad.description }}</td>
            <td class="px-4">{{ ad.price }}</td>
        </tr>
        {% endfor %}
 </tbody>
 </table>
 </a>
</div>
</body>
</html>