<!DOCTYPE html>
<html>
{% include 'head.html' %}
<body>
 <!-- Correction : L'image doit être à l'intérieur d'une balise <img> -->
    <img src="https://img.freepik.com/vecteurs-libre/ensemble-plat-decharge-voiture_1284-73510.jpg?size=626&ext=jpg&ga=GA1.1.30056680.1705501310&semt=ais" alt="Image de fond"/>
            {% include 'nav.html' %}

            <div class="container">
                    <div class="row justify-content-end col-4">
            {% if error_message %}
                <p style="color: red;">{{ error_message }}</p>
            {% endif %}
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
                <label for="username">Nom d'utilisateur:</label>
                <input type="text" id="username" name="username" required><br>

                <label for="password">Mot de passe:
                <input type="password" id="password" name="password" required><br>
                <div class="password-icon">
                    <i data-feather="eye"id="show-password"></i>
                    <i data-feather="eye-off" id="hide-password" style="display:none;"></i>
                </div>
                </label>
                <button type="submit">Connexion</button>
            </form>
            <a href="#" class="forgot-password">Forgot the password?</a>
            <a href="#" id="create-user">Créer un compte?</a>
            <form class="create-user-form">
                {{ user_form.as_p}}
                <button type="submit">Créer utilisateur</button>
            </form>
                </div>

            </div>
    <script>
        $(document).ready(function() {
            // Cacher le formulaire de création d'utilisateur au chargement de la page
            $('.create-user-form').hide();

            // Gérer le clic sur le lien "Créer un compte?"
            $('#create-user').click(function() {
                // Basculez la visibilité du formulaire de création d'utilisateur
                $('.create-user-form').toggle();
            });
        });
    </script>
</body>
</html>
